/* common */

body {
    margin: 0;
    font-family: 'Press Start 2P', cursive;
    font-size: 15px;
    line-height: 1.25;
    text-align: left;
    background-color: white;
    color: black;
    font-weight: normal;
    text-transform: none;
}

header {
    width: 100%;
    position: fixed;
    background-color: black;
    z-index: 10;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

footer {
    position: relative;
    box-sizing: border-box;
    color: white;
    background-color: black;
    margin: 0;
}

.loading_time {
    text-align: center;
    padding: 10px;
    font-size: 20px;
}

/* home */

.navigation {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    font-size: 20px;
    color: white;
    text-decoration: none;
    padding: 15px 40px;
}

nav a:hover {
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-color: #af0400;
    color: #af0400;
}

nav a:is(:link, :active, :visited).active {
    background-color: whitesmoke;
    color: black;
    text-shadow: 1px 1px 1px #9d0007, 0 0 1em white;
}

.intro {
    width: 100%;
    height: 100vh;
    background: url("./images/back.png") center no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.name {
    font-size: 130px;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
    color: black;
}

/* nft page */

.collection_intro {
    background: url("./images/back.png") center no-repeat;
    background-size: cover;
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.intro_name {
    padding-top: 50px;
    padding-bottom: 0;
    margin-bottom: 0;
    font-size: 60px;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
    color: black;
}

.intro_subtitle {
    font-size: 40px;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
    color: black;
}

.block {
    background-color: black;
    background-size: cover;
    width: 100%;
    height: 30px;
}

a:-webkit-any-link {
    text-decoration: none;
}

.back {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.azuki {
    background: url("./images/azuki.png") center no-repeat;
    background-size: cover;
}

.kitties {
    background: url("./images/kitties.png") center no-repeat;
    background-size: cover;
}

.cats {
    background: url("./images/cats.png") center no-repeat;
    background-size: cover;
}

.space {
    background: url("./images/space.png") center no-repeat;
    background-size: cover;
}

.mfer {
    background: url("./images/mfer.png") center no-repeat;
    background-size: cover;
}

.collection_name {
    font-size: 60px;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
    color: black;
    text-decoration: none;
    text-shadow: 4px 4px 2px #9d0007, 0 0 1em white;
}

.collection_name:hover {
    color: #9d0007
}

/* swiper */

.swiper {
    width: 100vw;
    height: 300px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: pink;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-slide .main-slide {
    width: 100vw;
}

.swiper-slide:not(.main-slide) {
    width: 100%;
}

.swiper-slide:not(.main-slide) {
    width: 20%;
}

.swiper-button-next, .swiper-button-prev {
    color: black;
}

.swiper-pagination .swiper-pagination-bullet {
    opacity: 1;
    background-color: grey;
}

.swiper-pagination .swiper-pagination-bullet-active {
    background-color: black;
}

.main-slide {
    background: url("images/azuki.png") center no-repeat;
    background-size: cover;
}

/* about */

.table_inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.table {
    display: grid;
    border-collapse: collapse;
    min-width: 90%;
    margin: auto 5%;
    grid-template-columns: repeat(5, auto);
    font-size: 18px;
}

thead, tbody, tr {
    display: contents;
}

table {
    border-collapse: collapse;
    border: 2px solid black;
    background-color: white;
    font-size: 18px;
}

td, th {
    border: 1px solid #403e3e;
    padding: 10px;
    text-align: center;
    vertical-align: center;
}

th {
    font-size: 20px;
    background-color: #b26c6f;
}

tr:nth-child(even) td {
    background-color: #609ea7;
}

/* forum */
.review_block {
    background: url("./images/back.png") center no-repeat;
    background-size: cover;
    height: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    z-index: -1;
}

.review_info {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin: 100px 0 50px;
    align-items: center;
    padding: 10px;
    background-color: #609ea7;
    border-radius: 10px;
    border: solid black;
}

.button_forum {
    font-size: 60px;
    text-align: center;
    text-transform: uppercase;
    padding: 10px;
    margin-bottom: 15px;
    color: black;
    text-shadow: 4px 4px 2px #9d0007, 0 0 1em white;
}

.button_forum:hover {
    cursor: pointer;
    color: #9d0007
}

.message {
    color: black;
    margin: 15px 5px 0;
    padding: 10px;
    background-color: #88b1b9;
    border-radius: 10px;
    border: solid black;
}

.message .title {
    text-transform: uppercase;
    text-align: center;
    font-size: 20px;
    color: #9d0007;
}

.message .body {
    margin-top: 30px;
    font-size: 1rem;
}

template {
    display: flex;
    justify-content: space-evenly;
}

.loading {
    width: 64px;
    height: 64px;
    border: 8px solid;
    border-color: #9d0007 #9d0007 #9d0007 transparent;
    border-radius: 50%;
    animation: loadingAnimation 2s linear infinite;
}

@keyframes loadingAnimation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* media */

@media only screen
and (max-width: 1000px) {
    .collection_intro {
        height: 500px;
    }

    .name {
        font-size: 75px;
        font-weight: 800;
    }
}